body {
    margin: 0;
}

/* Navigation */

.hide {
    display: none;
}

.spacer {
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: skyblue;
    padding: 8px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-menu {
    transition: display 1s;
}

.nav-menu ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
}

.nav-menu ul li {
    padding: 0.5rem;
}

.nav-menu ul li:hover {
    background-color: lightblue;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
}

.nav-profile-btn img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    border: 1px solid black;
}

.nav-profile-btn {
    display: flex;
    align-items: center;
}

.nav-profile-btn span {
    padding: 4px;
}

/* End navigation */

/* Profile Page */
.content {
    margin: .25rem;
    text-align: center;
}

.content-profile-img img {
    width: 75vw;
    height: 75vw;
    border-radius: 50%;
    border: 1px solid black;
}

.content-profile-information {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.content-profile-information div {
    flex: 1 0 auto;
    flex-basis: 250px;
}

.basic-info div {
    display: flex;
    border: 1px solid black;
    padding: .5rem;
}
/* End Profile Page */